$main-bg-color: #262626;
$secondary-bg-color: #d9d9d9;
$header-text-color: #0BC8CB;
$secondary-text-color: #64758c;
$primary-border-color: #f2ede9;

html, body {
  margin: 0;
  padding: 0;
}

body {
  .container{
    margin: 0;
    padding: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-color: $main-bg-color;
  }
}

.nav {
  li {
    a{
      color: $secondary-text-color;
      font-size: 30px;
      &:hover{
        background-color: $primary-border-color;
        color: $header-text-color;
      }
    }
  }

}

.row {
  margin: 0;
  h3 {
    font-family: 'Merienda One', Helvetica, sans-serif;
    color: $header-text-color;
  }
}
.row-index {
  h3 {
    font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
    color: $header-text-color;
    text-shadow: 3px 3px 3px $primary-border-color;
    /*color: $header-text-color;*/
    /*text-shadow: 1px 1px $primary-border-color;*/
  }
}
.row-bio {
  opacity: .6;
  background-color: $secondary-bg-color;
}
.row-gallery {
  .thumbnail {
    background-color: $secondary-bg-color;
  }
  img {
    height: 350px;
    width: 350px;
  }
}

.modal-large {
  width: 80%;
  height: 500px;

  .modal-content {
    height: 100%;

    .modal-body {
      height: 100%;
      padding: 0;
    }
  }
}
