/*$main-bg-color: #262626;*/
$main-bg-color: #BDC3C7;
$secondary-bg-color: #d9d9d9;
$header-text-color: #0BC8CB;
$secondary-text-color: #64758c;
$primary-border-color: #f2ede9;
$menu-item-hover: #262626;

html, body {
  margin: 0;
  padding: 0;
}

body {
  .container{
    margin: 0;
    padding: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-color: $main-bg-color;
  }
}

#headerUnit{
  position: fixed;
  text-align: center;
  z-index: 10;
}

#contentUnit{
  padding-left: 0;
  padding-right: 0;
}

#socialMediaLinks {
  /*background-color: $primary-border-color;*/
  ul {
    padding: 0;

    li{
      display: inline;
      list-style-type: none;
    }
    img {
      min-height: 50px;
      min-width: 50px;
      max-height: 50px;
      max-width: 50px;
      margin: 10px;

    }
  }
}

.nav {
  margin: 5px;
  li {
    a{
      color: $secondary-text-color;
      font-size: 30px;
      &:hover{
        /*background-color: $primary-border-color;*/
        background-color: #64758c;
        /*color: $header-text-color;*/
        color: $menu-item-hover;
      }
    }
  }
}

.row {
  margin: 0;
  h3 {
    font-family: 'Merienda One', Helvetica, sans-serif;
    color: $header-text-color;
  }
}
.row-index {
  h3 {
    font-size: 5em;
    /*font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;*/
    font-family: 'Molle', cursive;
    color: $header-text-color;
    /*text-shadow: 3px 3px 3px $primary-border-color;*/
    /*color: $header-text-color;*/
    /*text-shadow: 1px 1px $primary-border-color;*/
  }
}

.row-bio {
  /*background-color: $secondary-bg-color;*/

  /* TODO: make this $secondary-bg-color */
  background-color: #ebebeb;
  padding: 30px;

  h3 {
    /*padding-left: 30px;*/
    color: $secondary-text-color;
    margin: 0;
    margin-bottom: 20px;
  }
}
.row-gallery {
  .thumbnail {
    background-color: $secondary-bg-color;
  }
  img {
    height: 350px;
    width: 350px;
    margin-bottom: 30px;
  }
}

.modal-large {
  width: 80%;
  height: 500px;

  .modal-content {
    height: 100%;

    .modal-body {
      height: 100%;
      padding: 0;
    }
  }
}

.news {
  background: white;
  padding: 0;

  .header {
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 10px #888888;

    h3 {
      margin: 0;
    }
  }

  .content {
    height: 400px;
    overflow: scroll;
    padding: 10px;

    .entry {
      padding-top: 10px;
      font-family: 'Lora', serif;
    }

    .divider {
      height: 0;
      margin-top: 10px;
      margin-bottom: 20px;
      box-shadow: 0 5px 10px black;
    }
  }
}

#galleryPage {
  color: $secondary-bg-color;
  text-align: center;
}

.albums {
  padding: 30px;
}
