<h3 id="bioPage">Biography</h3>
<div class="row">
    <div class="col-xs-12 col-md-5 col-md-push-4">
  	<p>Phasellus porttitor, tortor eu congue aliquam, elit sapien varius mi, sit amet egestas erat massa eget erat. Donec ullamcorper scelerisque varius. Pellentesque et erat varius, dignissim risus nec, pellentesque nisi. Praesent ut risus vitae lectus sagittis tristique. Morbi ante ante, interdum ut dignissim ut, condimentum at tortor. Suspendisse sed accumsan lectus. Nam gravida arcu eget dolor hendrerit, eu bibendum odio laoreet. Aliquam quis augue scelerisque, dignissim dui sed, ultrices quam. Mauris vehicula odio et velit aliquam sodales. Etiam eros risus, maximus ut pellentesque sit amet, venenatis ut odio. Morbi posuere venenatis lectus, ultrices accumsan nisi porta sit amet.</p>
  </div>
  <div class="col-xs-12 col-md-4 col-md-pull-5">
  	<%= image_tag("Headshot.jpg") %>
  	<%= image_tag("AlexBodine.jpg") %>
  </div>
  <!-- <div class="col-md-4"> -->
  <!-- </div> -->

</div>
