<h3 id="galleryPage">Gallery</h3>
<div class="col-md-12">
	<div>
		<%= image_tag("10458393_10152534982672858_3108479130225556335_n.jpg", class: "col-xs-12 col-sm-3 col-md-4") %>
	<!-- load text on small device instead of load image -->
	</div>
	<div >
		<%= image_tag("DSC_0710.jpg", class: "col-xs-12 col-sm-3 col-md-4") %>
	</div>
	<div>	
		<%= image_tag("10608540_10203467102172042_2178081297900447308_o.jpg", class: "col-xs-12 col-sm-3 col-md-4") %>
	</div>
</div>