<h3 id="galleryPage">Gallery</h3>
<div class="col-md-12">
	<div class="thumbnail col-xs-12 col-sm-4 col-md-4">
		<%= image_tag("10458393_10152534982672858_3108479130225556335_n.jpg") %>
	<!-- load text on small device instead of load image -->
	<div class="caption">
			<h5>Learned Ladies</h5>
		</div>
		<button>View Gallery</button>
	</div>
	<div class="thumbnail col-xs-12 col-sm-4 col-md-4">
		<%= image_tag("DSC_0710.jpg") %>
		<div class="caption">
			<h5>Angels In America</h5>
		</div>
		<button>View Gallery</button>
	</div>
	<div class="thumbnail col-xs-12 col-sm-4 col-md-4">	
		<%= image_tag("10608540_10203467102172042_2178081297900447308_o.jpg") %>
		<div class="caption">
			<h5>Knight School</h5>
		</div>
		<button>View Gallery</button>
	</div>
</div>
<div>
	<!-- populate this with gallery -->
</div>