<div class="dropdown col-xs-2">
	<button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="#bio">Bio</a>
		</li>
		<li role="presentation">
			<!-- load resume modal -->
			<a role="menuitem" tabindex="-1" href="#myModal" data-toggle="modal" data-target="#myModal">Resume</a>
		</li>
		<li role="presentation">
			<a role="menuitem" tabindex="-1" href="#galleryPage">Gallery</a>
		</li>
	</ul>
</div>
<h4 class="col-xs-4">Alex Bodine</h4>
	
<!-- <%= render 'socialMediaLinks' %> -->


<!-- resume modal content -->
<div>
	<%= render 'resumeModalContent' %>
</div>