<ul class="nav col-md-3 col-md-push-9">
	<li><a href="#bioPage">Bio</a></li>
	<li>
		<!-- load resume modal -->
		<button data-toggle="modal" data-target="#myModal">Resume</button>
	</li>
	<li><a href="#galleryPage">Gallery</a></li>
</ul>

<!-- resume modal content -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-large">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Alex Bodine</h4>
      </div> -->
      <div class="modal-body">
        <!-- load static pdf here -->
        <object data="<%= asset_path('AlexBodineResume.pdf') %>" type="application/pdf" width="100%" height="100%">
          <p>
            It appears you don't have a PDF plugin for this browser.
            No biggie... you can <a href="<%= asset_path('AlexBodineResume.pdf') %>">click here to
            download the PDF file.</a>
          </p>
        </object>

      </div>
    </div>
  </div>
</div>
