<div id="socialMediaLinks" class="col-xs-3 col-md-12">
	<ul>
		<li>
			<a href="https://www.facebook.com/alex.bodine.3?fref=ts" target="_blank"><img src="http://www.piperlegacypress.com/wp-content/uploads/2014/07/Facebook-Logo-Circle.png"></a>
		</li>
		<li>
			<a href="#" target="_blank"><img src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/512/Twitter-icon.png"></a>
		</li>
		<li>
			<a href="#" target="_blank"><img src="http://brandeblog.files.wordpress.com/2011/08/linkedin-icon.png"></a>
		</li>
	</ul>
</div>