<div class="row row-index">
	<h3>Alex Bodine</h3>
</div>
<div class="row">
	<%= render 'navbar' %>
</div>
<div class="row">
	<%= render 'newsfeed' %>
</div>
<div class="row row-bio">
	<%= render 'bio' %>
</div>
<div class="row row-gallery">
	<%= render 'gallery' %>
</div>